.idea
key.pem
oci .net sdk demo/OCIDotnetSdkDemo/OCIDotnetSdkDemo/obj/Debug/netcoreapp3.1/OCI_dotnet_sdk_demo.assets.cache

.fake
oci .net sdk demo/OCIDotnetSdkDemo/OCIDotnetSdkDemo/obj/Debug/netcoreapp3.1/OCI_dotnet_sdk_demo.AssemblyInfo.cs
oci .net sdk demo/OCIDotnetSdkDemo/OCIDotnetSdkDemo/obj/Debug/netcoreapp3.1/OCI_dotnet_sdk_demo.csproj.AssemblyReference.cache
oci .net sdk demo/OCIDotnetSdkDemo/OCIDotnetSdkDemo/obj/Debug/netcoreapp3.1/OCI_dotnet_sdk_demo.GeneratedMSBuildEditorConfig.editorconfig
